In [1]:
user_review = r'C:\Users\argui\OneDrive\Escritorio\ProyectoML_OPS\data\user_reviews.parquet'
users_items = r"C:\Users\argui\OneDrive\Escritorio\ProyectoML_OPS\data\users_items.parquet"
steam_games = r"C:\Users\argui\OneDrive\Escritorio\ProyectoML_OPS\EDA\steam_games_EDA.parquet"
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import ast
import gzip

In [2]:
df_rev = pd.read_parquet(user_review)
df_rev.head()

  item_id  recommend  review
0    1250       True       2
1   22200       True       2
2   43110       True       2
3  251610       True       2
4  227300       True       0

In [3]:
df_item = pd.read_parquet(users_items)
df_item.head()

  item_id                  item_name  playtime_forever  playtime_2weeks
0      10             Counter-Strike               6.0              0.0
1      20      Team Fortress Classic               0.0              0.0
2      30              Day of Defeat               7.0              0.0
3      40         Deathmatch Classic               0.0              0.0
4      50  Half-Life: Opposing Force               0.0              0.0

In [4]:
#Realizamos un muestreo de items qued√°ndonos con el 4% de los datos
df_item_sampled = df_item.sample(frac=0.04, random_state=1) 
df_item_sampled.shape

(57682, 4)

In [5]:
df_rev.shape

(59305, 3)

In [6]:
df_rev_item = pd.merge(df_rev,df_item_sampled,on='item_id')

In [7]:
df_rev_item.head()

  item_id  recommend  review      item_name  playtime_forever  playtime_2weeks
0    1250       True       2  Killing Floor            2497.0              0.0
1    1250       True       2  Killing Floor            1412.0              0.0
2    1250       True       2  Killing Floor            1584.0              0.0
3    1250       True       2  Killing Floor            2589.0              0.0
4    1250       True       2  Killing Floor           21690.0              0.0

In [8]:
df_rev_item.to_parquet(r'C:\Users\argui\OneDrive\Escritorio\ProyectoML_OPS\data\users_items_review.parquet',compression='snappy')